.alert-position {
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 500;
  transition: opacity 0.3s ease;
}

body {
  font-family: 'Roboto', sans-serif; /* Define a fonte padrão */
  background-color: #f8f9fa; /* Cor de fundo suave */
  color: #343a40; /* Cor do texto */
  margin: 0;
  padding: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #4a90e2;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center; /* Centraliza o título */
}

.config-container,
.results-container,
.control-container {
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  max-width: 500px;
}

label {
  display: block;
  font-weight: bold;
  margin: 10px 0 5px;
}

input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357ab7;
}

pre {
  background: #f4f6f9;
  padding: 15px;
  border-radius: 4px;
  font-size: 0.9rem;
  overflow-x: auto;
  color: #555;
}
